# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client-server]
# Port or socket location where to connect
port = 3306
socket = /run/mysqld/mysqld.sock

[mariadbd]
innodb_log_file_size = 4048M
innodb_strict_mode = 0
log_error = /var/log/mysql/errors.log

